
<h1>Tasks</h1>

  <% @tasks.each do |task| %>
    <div class="card-product">
      <% if task.completed != true %>
      <span><img src="https://image.flaticon.com/icons/svg/2089/2089628.svg" /></span>
      <% else %>
      <span><img src="https://image.flaticon.com/icons/svg/2089/2089632.svg" /></span>
      <% end %>
    <div class="card-product-infos">
      <span><h2><%= link_to task.title, task_path(task) %></h2></span>
    </div>
    <div class="card-product-delete">
      <span><%= link_to "Delete task", delete_path(task), method: :delete, class: "btn btn-ghost2" %></span>
    </div>
    </div>
  <% end %>

<div class= "buttons">
<%= link_to "Create new task", new_path, class: "btn btn-flat" %>
</div>
