<div class="card-product">
  <% if @task.completed != true %>
  <span><img src="https://image.flaticon.com/icons/svg/2089/2089628.svg" /></span>
  <% else %>
  <span><img src="https://image.flaticon.com/icons/svg/2089/2089632.svg" /></span>
  <% end %>
  <div class="card-product-infos">
    <h2><%= @task.title %></h2>
    <p><%= @task.details %></p>
  </div>
</div>


<div class= "buttons">
  <span><%= link_to "Back to all Tasks", tasks_path, class: "btn btn-ghost" %></span>
  <span><%= link_to "Update task", edit_path(@task), class: "btn btn-flat" %></span>
</div>
